<a href="{{ post.link }}" class="{{ post.class }}">
  <h2 class="portfolio-title">
      {{ post.title }}
  </h2>

  <img class="portfolio-image" alt="{{ post.title }}" src="{{ TimberImage(post.get_field('image')).src|resize(400, 400) }}" srcset="{{ TimberImage(post.get_field('image')).src|resize(800, 800) }} 2x">
</a>
