{% extends 'base.twig' %}

{% block content %}
  {% if post.get_field('image') %}
    <img class="single-portfolio-featured" alt="{{ post.title }}" src="{{ TimberImage(post.get_field('image')).src|resize(941) }}" srcset="{{ TimberImage(post.get_field('image')).src|resize(1881) }} 2x">
  {% endif %}

  {% include 'partials/meta.twig' %}
 
  <h1 class="page-title">
    {{ post.title }}
  </h1>

  {{ post.content }}
  
  {% if post.comments %}
    <h2>
      Comments
    </h2>

    <div class="comment-wrap">
      {% for comment in post.comments %}
        {% include 'partials/comment.twig' %}
      {% endfor %}
    </div>
  {% endif %}

    {% if post.comment_status == "closed" %}
      <p><em>Comments for this post are closed</em></p>
    {% else %}
      {{ function('comment_form') }}
    {% endif %}

  <div class="comment-form">
    {{ function('comment_form') }}
  </div>
{% endblock %}